<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Footer</title>

    <link th:rel="stylesheet" th:href="@{/admin/styles.css}">
</head>
<body>
<footer class="bg-light text-lg-start" id="footer">
    <div class="p-3" id="footer-content">
        Thank you for being a part of Teaneck Minyanim Please email <a class="link" href="mailto:info@teaneckminyan.com">info@teaneckminyanim.com</a> with any questions or concerns.
    </div>
</footer>
</body>
</html>