<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title text="Application Settings - Teaneck Minyanim"></title>
    <link rel="icon" type="image/svg+xml" href="/assets/icons/favicon.svg">
    <link rel="icon" type="image/png" href="/assets/icons/favicon.png">
    <link rel="apple-touch-icon" sizes="180x180" href="/assets/icons/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/assets/icons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/assets/icons/favicon-16x16.png">
    <link rel="manifest" href="/assets/icons/site.webmanifest">
    <link rel="mask-icon" href="/assets/icons/safari-pinned-tab.svg" color="#275ed8">
    
    <meta name="msapplication-TileColor" content="#275ed8">
    <meta name="msapplication-config" content="/assets/icons/browserconfig.xml">
    <meta name="theme-color" content="#ffffff">
</head>
<body>
<div class="horizontal-container">
    <th:block th:include="admin/navbar"></th:block>
    <div class="container-fluid" id="main">
        <div class="row row-offcanvas row-offcanvas-left vh-100">
            <th:block th:include="admin/sidebar"></th:block>
            <!--/col-->
            <div class="col-housing main h-100 overflow-auto">
                <main class="col main pt-5 mt-3 overflow-auto">
                    <h3 class="lead= d-sm-block">Edit general application settings.</h3>

                    <hr class="d-none d-sm-block">

                    <div class="row my-4" style="padding-bottom: 60px">
                        <div class="col-lg-9 col-md-8">
                            <div class="table-responsive">
                                <table class="table">
                                    <thead class="thead-inverse">
                                        <th>Setting</th>
                                        <th>ID</th>
                                        <th>Enabled</th>
                                        <th>Value</th>
                                        <th>Edit</th>
                                    </thead>
                                    <tbody>
                                            <tr th:each="settings: ${settings}">
                                                <td th:text="${settings.setting}" />
                                                <td th:text="${settings.id}" />
                                                <td>
                                                    <button type="button" class="btn btn-success" disabled th:if="${settings.enabled} == 'true'">Enabled</button>
                                                    <button type="button" class="btn btn-danger"disabled th:if="${settings.enabled} == 'false'">Disabled</button>
                                                    <button type="button" class="btn btn-secondary" disabled th:if="${settings.enabled} == 'null'">N/A</button>
                                                </td>
                                                <td th:text="${settings.text}" />
                                                <td>
                                                    <button class="btn btn-outline-dark btn-sm" data-toggle="modal" th:data-target="${'#update-settings-modal-' + settings.id}">Edit</button>
                                                </td>
                                            </tr>
                                    </tbody>
                                </table>
                            </div>

                            <hr>

                            <div class="row">
                                <div class="col-sm-6">
                                    <div class="card">
                                        <div class="card-body">
                                            <h5 class="card-title">Disable this account</h5>
                                            <p class="card-text">Disable login access to Teaneck Minyanim from this account. This will not erase any of its data.</p>
                                            <button class="btn btn-warning" data-toggle="modal" data-target="#disable-account-modal">Disable</button>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-6" th:if="${user.isSuperAdmin()}" sec:authorize="hasRole('ROLE_ADMIN')">
                                    <div class="card">
                                        <div class="card-body">
                                            <h5 class="card-title">Delete this account</h5>
                                            <p class="card-text">Permanently delete all data for this account.</p>
                                            <button class="btn btn-danger" data-toggle="modal" data-target="#delete-account-modal">Delete</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </main>
            </div>
        </div>

    </div>
</div>
<div th:each="settings: ${settings}">
    <div class="modal fade" th:id="${'update-settings-modal-' + settings.id}" tabindex="-1" th:aria-labelledby="${'update-settings-modal-label-' + settings.id}" style="display: none;" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title h4" th:id="${'update-settings-modal-label-' + settings.id}">Edit</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form method="post" th:action="@{/admin/update-settings}">
                        <div class="form-group">
                            <input hidden name="id" th:value="${settings.id}">
                            <td>
                                <h4 th:text="${settings.setting}" />
                            </td>
                            <td>
                                <div class="custom-control custom-switch" th:each="settings: ${settings}">
                                    <input type="checkbox" class="custom-control-input"
                                           name="enabled" style="z-index: 99;"
                                           th:id="${'new-enabled-' + settings.id}" th:aria-describedby="${'new-enabled-help-' + settings.id}"
                                           th:checked="${settings?.enabled}"
                                           th:value="${settings?.enabled == null ? 'null' : 'true'}">
                                    <label class="custom-control-label" for="new-enabled">Enable</label>
                                </div>
                            </td>                            
                            <td>
                                <input th:type="${settings.type}" class="form-control" th:id="${'new-text-' + settings.id}" name="text" th:aria-describedby="${'new-text-help-' + settings.id}" th:value="${settings.text}">
                            </td>
                            </div>
                        <hr>
                        <button type="submit" class="btn btn-primary">Save</button>
                    </form>
                </div>
            </div>
        </div>
    </div>

<div th:if="${user.isAdmin()}" sec:authorize="hasRole('ROLE_ADMIN')">
    <div class="modal fade" id="delete-account-modal" tabindex="-1" aria-labelledby="delete-account-modal-label" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <!-- <h5 class="modal-title" id="delete-account-modal-label" th:text="${'Permanently delete ''' + queriedaccount.username + '''?'}"></h5> -->
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    Do you want to permanently delete this account? This action cannot be undone.
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-outline-secondary" data-dismiss="modal">Close</button>
                    <!-- <a th:href="@{/admin/delete-account} + '?id=' + ${queriedaccount.id}" class="btn btn-danger">Delete</a> -->
                </div>
            </div>
        </div>
    </div>
</div>

    <div>
        <div class="modal fade" id="disable-account-modal" tabindex="-1" aria-labelledby="disable-account-modal-label" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <!-- <h5 class="modal-title" id="disable-account-modal-label" th:text="${'Disable ''' + queriedaccount.username + '''?'}"></h5> -->
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        Do you want to disable this account from login access? This action cannot be easily undone.
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-outline-secondary" data-dismiss="modal">Close</button>
                        <!-- <a th:href="@{/admin/disable-account} + '?id=' + ${queriedaccount.id}" class="btn btn-warning">Disable</a> -->
                    </div>
                </div>
            </div>
        </div>
    </div>

<div class="modal fade" id="change-password-modal" tabindex="-1" aria-labelledby="change-password-modal-label" style="" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title h4" id="change-password-modal-label">Change Password</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
        </div>
    </div>
</div>

</body>

<script th:src="@{/account.js}"></script>
<script th:if="${changePasswordError}" th:inline="javascript">
    showChangePasswordModal();
</script>

</html>