<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Footer - Teaneck Minyanim</title>

    <link th:rel="stylesheet" th:href="@{/admin/styles.css}">
</head>
<body>
<footer class="bg-light text-lg-start" id="footer">
    <div class="footer-sm">
        <div class="container">
          <div class="row">
            <div class="col-md-4">
              <a class="footer-logo" href="#">TB Dev</a>
            </div>
            <div class="col-md-4">
              <h6>&copy; TB Dev and Teaneck Minyanim</h6>
            </div>
            <div class="col-md-4 text-end">
              <h6><a href="mailto:info@teaneckminyanim.com">info@teaneckminyanim.com</a></h6>
            </div>
            <!-- <div class="col-md-4">
              <ul>
                <li><a href="#">Facebook</a></li>
                <li><a href="#">Twitter</a></li>
                <li><a href="#">Linkedin</a></li>
              </ul>
            </div> -->
          </div>
        </div>
      </div>
</footer>
</body>
</html>