<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Teaneck Minyanim</title>
    <link rel="icon" type="image/svg+xml" href="/assets/icons/favicon.svg">
    <link rel="icon" type="image/png" href="/assets/icons/favicon.png">
    <link rel="apple-touch-icon" sizes="180x180" href="/assets/icons/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/assets/icons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/assets/icons/favicon-16x16.png">
    <link rel="manifest" href="/assets/icons/site.webmanifest">
    <link rel="mask-icon" href="/assets/icons/safari-pinned-tab.svg" color="#275ed8">
    <meta name="msapplication-TileColor" content="#275ed8">
    <meta name="msapplication-config" content="/assets/icons/browserconfig.xml">
    <meta name="theme-color" content="#ffffff">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="Zmanim and Minyanim for Teaneck, New Jersey">
    <meta name="keywords" content="Jewish,minyanim,zmanim,times,sechedule,teaneck,nj,07666">
    <script src="https://code.jquery.com/jquery-3.6.3.min.js" integrity="sha256-pvPw+upLPUjgMXY0G+8O0xUf+/Im1MZjXxxgOcBQBXU=" crossorigin="anonymous"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3" crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600,700" rel="stylesheet">
    <link rel="stylesheet" href="/assets/css/animate.css"> <!-- Resource style -->
    <link rel="stylesheet" href="/assets/css/owl.carousel.css">
    <link rel="stylesheet" href="/assets/css/owl.theme.css">
    <link rel="stylesheet" href="/assets/css/ionicons.min.css"> <!-- Resource style -->
    <link href="/assets/css/style.css" rel="stylesheet" type="text/css" media="all" />
    <script src="https://unpkg.com/counterup2@2.0.2/dist/index.js">	</script>
    <script type="text/javascript" src="/assets/js/plugins.js"></script>
    <script type="text/javascript" src="/assets/js/custom.js"></script>
    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-6026762329140546"
     crossorigin="anonymous"></script>
  </head>
  <body>
      <!-- Navbar Section -->
      <div class="horizontal-container d-flex container-xl" id="wrapper">
        <th:block th:include="frontnavbar"></th:block>
        <!-- Navbar End -->
        <div class="container-fluid " id="main">
              <main class="col main pt-5 mt-4 overflow-auto">
                <!-- Date Nav Buttons -->
                <div class="d-sm-flex justify-content-between">
                  <h4 class="col-md-4 mt-3" th:text="${onlyDate}"></h4>
                  <div class="col-md-4 btn-toolbar d-flex flex-nowrap justify-content-center p-2" role="toolbar" aria-label="Toolbar with button groups">
                    <div class="btn-group  me-2" style="align-self: center;" role="group">
                    <!-- REMOVING IF TODAY LOGIC <button type="button" th:if="${!isToday}" th:data-url="@{/zmanim}" onclick="location.href = this.getAttribute('data-url')" class="btn btn-secondary switcher-btn">Today</button> -->
                      <button type="button" th:data-url="@{/zmanim}" onclick="location.href = this.getAttribute('data-url')" class="btn btn-cta switcher-btn">Today</button>
                   </div>
                    <div class="btn-group me-2" style="align-self: center;" role="group">
                    <!-- REMOVING IF TODAY LOGIC <button type="button" th:if="${!isToday}" th:data-url="@{/zmanim/last(before=${dateString})}" onclick="location.href = this.getAttribute('data-url')" class="btn btn-secondary switcher-btn"><</button> -->
                      <button type="button" th:data-url="@{/zmanim/last(before=${dateString})}" onclick="location.href = this.getAttribute('data-url')" class="btn btn-cta switcher-btn"><</button>
                      <button type="button" th:data-url="@{/zmanim/next(after=${dateString})}" onclick="location.href = this.getAttribute('data-url')" class="btn btn-cta switcher-btn">></button>
                    </div>
                  </div>
                    <h4 class="col-md-4 mt-3 mobile-hide"  style="text-align: right; font-weight: 430;" th:text="${hebrewDate}"></h4>
                </div>
                <!-- End Date Nav Buttons -->
                <hr>
                <!-- <div id="housing-housing">
                  <div class="mpt0" id="row-housing" style="padding: 1rem;">
                    <div class="row">
                      <img src="/assets/images/Leaderboard-728x90.jpg" class="img-fluid" alt="Advertisement">
                    </div>
                  </div>
                </div> -->
                <div id="housing-housing">
                  <div class="mpt0" id="row-housing" style="padding: 1rem;">
                    <div class="row">
                      <div class="col-lg-8" id="minyanim-box">
                        <div class="card-text">
                          <h3>Upcoming Minyanim</h3>
                        </div>
                        <div class="tab-content" id="pills-tabContent">
                          <div class="tab-pane fade active show text-center">
                            <!-- Desktop Table -->
                            <table class="table d-none d-lg-block" th:if="${!allminyanim.isEmpty()}" id="minyan-table">
                              <thead>
                               <tr>
                                <th scope="col" class="th-sm">Shul</th>
                                <th scope="col" class="th-sm">Type</th>
                                <th scope="col" class="th-sm">Time</th>
                                <th scope="col" class="th-sm">Room</th>
                                <!-- <th scope="col">Nusach</th> -->
                                <!-- <th scope="col">Notes</th> -->
                              </tr>
                              </thead>
                              <tbody>
                                <tr th:each="minyan: ${allminyanim}">
                                  <td class="middle">
                                    <a role="button" class="btn-shul js-scroll-trigger px-3 px-sm-3" th:href="@{|/orgs/${minyan.getOrganizationId()}|}" th:text="${minyan.getOrganizationName()}" th:style="'background: '+${minyan.getOrgColor()}"></a>
                                        <tr>
                                          <td class="middle table-nested">
                                            <h5 th:style="'color: ' + ${minyan.getOrgColor()}"
                                              th:utext="${minyan.getType().displayName()} "></h5>
                                            <p class="p-notes" th:utext="${minyan.getNusach().displayName()}"></p>
                                          </td>
                                          <td class="middle table-nested">
                                            <p class="p-time" th:utext="${minyan.getFormattedStartTimeOnly()}"></p>
                                            <p class="p-nusach" th:utext="${minyan.getInformation()}"></p>
                                          </td>
                                        </tr>
                                    <p class="p-nusach" th:utext="${minyan.dynamicTimeString()}"></p>
                                    <p class="p-notes" th:utext="${minyan.getNotes()}"></p>
                                  </td>
                                </tr>
                              </tbody>
                            </table>
                            <!-- Mobile Table -->
                            <table class="table table-org d-lg-none" th:if="${!allminyanim.isEmpty()}" id="minyan-table">
                              <tbody>
                                <tr th:each="minyan: ${allminyanim}">
                                  <td class="middle">
                                    <a role="button" class="btn-shul js-scroll-trigger px-3 px-sm-3" th:href="@{|/orgs/${minyan.getOrganizationId()}|}" th:text="${minyan.getOrganizationName()}" th:style="'background: '+${minyan.getOrgColor()}"></a>
                                    <table class="table table-org table-nested" th:if="${!allminyanim.isEmpty()}">
                                      <tbody>
                                        <tr>
                                          <td class="middle table-nested">
                                            <h5 th:style="'color: ' + ${minyan.getOrgColor()}"
                                              th:utext="${minyan.getType().displayName()} "></h5>
                                            <p class="p-notes" th:utext="${minyan.getNusach().displayName()}"></p>
                                          </td>
                                          <td class="middle table-nested">
                                            <p class="p-time" th:utext="${minyan.getFormattedStartTimeOnly()}"></p>
                                            <p class="p-nusach" th:utext="${minyan.getInformation()}"></p>
                                          </td>
                                        </tr>
                                      </tbody>
                                    </table>
                                    <p class="p-nusach" th:utext="${minyan.dynamicTimeString()}"></p>
                                    <p class="p-notes" th:utext="${minyan.getNotes()}"></p>
                                  </td>
                                </tr>
                              </tbody>
                            </table>
                            <!-- Load more button for desktop -->
                            <button class="btn-shuls mobile-hide" id="load-more-button">Load More</button>
                                        <div class="jumbotron alert alert-secondary" th:if="${allminyanim.isEmpty()}">
                                            <h4 class="mb-1">Sorry, there aren't any upcoming minyanim today.</h4>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4" id="zmanim-box">
                              <div class="card-text">
                                <h3>Zmanim for Teaneck, NJ</h3>
                              </div>
                              <div class="col">
                                  <div>
                                    <hr>
                                      <div>
                                          <div class="row m-b-30">
                                              <div class="col-12">
                                                  <div>
                                                      <b class="time-box" th:text="${alotHashachar}"></b>
                                                      &nbsp;
                                                      <span>
                                                          <span>Alos HaShachar</span>
                                                      </span>
                                                  </div>
                                                      <hr>
                                              </div>
                                              <div class="col-12">
                                                <div>
                                                    <b class="time-box" th:text="${ett}"></b>
                                                    &nbsp;
                                                    <span>
                                                        <span>Misheyakir</span>
                                                    </span>
                                                </div>
                                                <hr>
                                            </div>
                                              <div class="col-12">
                                                  <div>
                                                      <b class="time-box" th:text="${sunrise}"></b>
                                                      &nbsp;
                                                      <span>
                                                          <span>Netz</span>
                                                      </span>
                                                  </div>
                                                  <hr>
                                              </div>
                                              <div class="col-12">
                                                  <div>
                                                      <b class="time-box" th:text="${szks}"></b>
                                                      &nbsp;
                                                      <span>
                                                          <span>Sof Zman Krias Shema</span>
                                                      </span>
                                                  </div>
                                                  <hr>
                                              </div>
                                              <div class="col-12">
                                                  <div>
                                                      <b class="time-box" th:text="${szt}"></b>
                                                      &nbsp;
                                                      <span>
                                                          <span>Sof Zman Tefilla</span>
                                                      </span>
                                                  </div>
                                                  <hr>
                                              </div>
                                              <div class="col-12">
                                                  <div>
                                                      <b class="time-box" th:text="${chatzot}"></b>
                                                      &nbsp;
                                                      <span><span>Chatzos</span></span>
                                                  </div>
                                                  <hr>
                                              </div>
                                              <div class="col-12">
                                                  <div>
                                                      <b class="time-box" th:text="${minchaGedola}"></b>
                                                      &nbsp;
                                                      <span><span>Mincha Gedola</span></span>
                                                  </div>
                                                  <hr>
                                              </div>
                                              <div class="col-12">
                                                  <div>
                                                      <b class="time-box" th:text="${minchaKetana}"></b>
                                                      &nbsp;
                                                      <span><span>Mincha Ketana</span></span>
                                                  </div>
                                                  <hr>
                                              </div>
                                              <div class="col-12">
                                                  <div>
                                                      <b class="time-box" th:text="${plagHamincha}"></b>
                                                      &nbsp;
                                                      <span><span>Plag HaMincha</span></span>
                                                  </div>
                                                  <hr>
                                              </div>
                                              <div class="col-12">
                                                  <div>
                                                      <b class="time-box" th:text="${shekiya}"></b>
                                                      &nbsp;
                                                      <span><span>Shekiya</span></span>
                                                  </div>
                                                  <hr>
                                                </div>
                                                <div class="col-12">
                                                  <div>
                                                      <b class="time-box" th:text="${earliestShema}"></b>
                                                          &nbsp;
                                                          <span><span>Earliest Shema</span></span>
                                                  </div>
                                                  <hr>
                                                  </div>
                                              <div class="col-12">
                                                  <div>
                                                      <b class="time-box" th:text="${tzet}"></b>
                                                          &nbsp;
                                                          <span><span>Tzes HaKochavim</span></span>
                                                  </div>
                                                  <!--                                            <hr></div>-->
                                                  <!--                                        <div class="col-12"><div><b th:text="${latestShema}"></b>-->
                                                  <!--                                            &nbsp;-->
                                                  <!--                                            <span><span>Tzet HaKochavim</span></span>-->
                                                  <!--                                        </div>-->
                                              </div>
                                          </div>
                                      </div>
                                  </div>
                              </div>
                          </div> 
                        </div>
                    </div>
                </div>
                </main>
            </div>
        </div>
        <!--/.container-->
    </div>
      <div id="main" class="main">
        <div id="shuls" class="features wow fadeInDown">
          <div class="container-m">
            <div class="row text-center">
              <div class="col-md-12">
                <div class="features-intro">
                  <h2>Shuls</h2>
                  <div th:with="uniqueValues=${uniqueKolhaMinyanims}">
                    <a role="button" class="btn-shuls js-scroll-trigger px-3 px-sm-3" th:each="minyan: ${uniqueValues}" th:href="@{|/orgs/${minyan.getOrganizationId()}|}" th:text="${minyan.getOrganizationName()}" th:style="'background: '+${minyan.getOrgColor()}"></a>
                </div>
                </div>
              </div>
            </div>
          </div>
        </div>
         <!-- Counter Section -->
         <div id="about" class="features wow fadeInDown">  
         <div class="yd-stats wow fadeIn">
           <div class="container-s">
             <div class="row text-center">
               <div class="col-sm-12">
                 <div class="intro">
                   <h2>About Teaneck Zmanim</h2>
                 </div>
               </div>
               <div class="col-sm-4">
                 <div class="counter-up">
                  <h3 th:text="${kolminyanim.size()}" class="counter"/>
                   <div class="counter-text">
                     <h2>Minyanim</h2>
                   </div>
                 </div>
               </div>
               <div class="col-sm-4">
                 <div class="counter-up">
                  <h3 th:text="${uniqueKolhaMinyanims.size()}" class="counter"/>
                   <div class="counter-text">
                     <h2>Shuls</h2>
                   </div>
                 </div>
               </div>
               <div class="col-sm-4">
                 <div class="counter-up">
                    <h3 class="counter">1000+</h3>
                   <div class="counter-text">
                     <h2>Users</h2>
                   </div>
                 </div>
               </div>
               <div class="col-md-12">
                 <div class="yd-link">
                   <a href="#info">Learn More About Teaneck Minyanim</a>
                 </div>
               </div>

             </div>
           </div>
         </div>
        </div><!-- Counter Section Ends -->

        <!-- CTA Signup Section -->
        <div id="info" class="cta-sm">
          <div class="container-m text-center">
            <div class="cta-content">
              <h1>Bug? Question? Comment? Donation?</h1><h5><a href="mailto:info@teaneckminyanim.com">info@teaneckminyanim.com</a></h5>
              <hr>
              <h3>Subscribe now to stay up to date on Teaneck Minyanim updates and news!</h3>
               <div class="form wow fadeIn" data-wow-delay="0.2s">
                <form id="chimp-form" class="subscribe-form wow zoomIn" action="https://sendy.josephjacobs.org/subscribe" method="POST" accept-charset="utf-8">
                  <input type="text" name="name" id="name" placeholder="Enter your name"/>
                  <br/>
                  <input type="email" name="email" id="email" placeholder="Enter your email address"/><br/><div style="display:none;">
                  <label for="hp">HP</label><br/>
                  <input type="text" name="hp" id="hp"/>
                  </div>
                  <input type="hidden" name="list" value="2GTjv7L7dlk4MXC1SN9Lgg"/>
                  <input type="hidden" name="subform" value="yes"/>
                  <input class="submit-button" name="submit" id="submit" type="submit" value="Sign up now"/>
                </form>
                <!-- <form id="chimp-form" class="subscribe-form wow zoomIn" action="/assets/php/subscribe.php" method="post" accept-charset="UTF-8" enctype="application/x-www-form-urlencoded" autocomplete="off" novalidate>
                  <input class="mail" id="chimp-email" type="email" name="email" placeholder="Enter your email address" autocomplete="off">
                  <input class="submit-button" type="submit" value="Sign up now">
                </form> -->
                <div id="response"></div>
              </div>
              <div class="form-note">
                <p>Thank you!</p>
              </div>
            </div>
          </div>
        </div>


        <!-- Array Footer Section -->
        <div class="footer-sm">
          <div class="container">
            <div class="row">
              <div class="col-md-4">
                <a class="footer-logo" href="https://teaneckminyanim.com">TB Dev</a>
              </div>
              <div class="col-md-4">
                <h6>&copy; TB Dev and Teaneck Minyanim</h6>
              </div>
              <div class="col-md-4 text-end">
                <h6><a href="mailto:info@teaneckminyanim.com">info@teaneckminyanim.com</a></h6>
              </div>
              <!-- <div class="col-md-4">
                <ul>
                  <li><a href="#">Facebook</a></li>
                  <li><a href="#">Twitter</a></li>
                  <li><a href="#">Linkedin</a></li>
                </ul>
              </div> -->
            </div>
          </div>
        </div>


       <!-- Scroll To Top -->
        <div id="back-top" class="bk-top">
          <div class="bk-top-txt">
             <a class="back-to-top js-scroll-trigger" href="#main">top</a>
          </div>
        </div>
       <!-- Scroll To Top Ends-->

      </div> <!-- Main -->
      <script type="text/javascript" src="/minyan-table.js"></script>
  </body>
</html>